#auth_form{
    margin-top: 50%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,213,0.6502976190476191) 100%);
    padding: 30px;
    border-radius: 5px;
}